apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: public-api-route
  labels:
    app: public-api
spec:
  to:
    kind: Service
    name: public-api-service
    weight: 100
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
